body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	text-align: center;
}

#guess {
	width: 20%;
	height: 30px;
	font-size: 24px;
	margin-bottom: 20px;
}

#submit {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#submit:hover {
	background-color: #3e8e41;
}

#result {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}





